<!DOCTYPE html>
{% extends "blog_app/base.html" %}

{% load staticfiles %}


{% load static %}
{% block title %}Blogged Project - Group 5{% endblock %}
{% block content %}

{% if user.is_authenticated %}
<h1>this is index page</h1>
<img class="rounded-circle article-img" src="{{ user.userprofileinfo.profile_pic.url }}" width='240' alt={{user}}>
<h3>Hi {{ request.user.first_name }}</h3>
{% else %}
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'images/signup.jpg' %}" style="height: 200px;"  class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text"><a href="{% url 'blog_app:registration' %}">SIGNUP!</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'images/login.jpg' %}" style="height: 200px;" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text"><a href="{% url 'blog_app:user_login' %}">LOGIN!</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endif %}
{% endblock %}