{% extends "blog_app/base.html" %}
{% block content %}

<div class="jumbotron">
<h1> Please Login </h1>
<form action="{% url 'blog_app:user_login' %}" method="POST">
    {% csrf_token %}
    <label for="username">UserName</label>
    <input type="text" name="username" placeholder="Your name.."><br><br>
    <label for="password">Password</label>
    <input type="password" name="password" placeholder="Your password.."><br><br>
    <button class="btn btn-md btn-success btn-block" type="submit">Log in</button>

</form>

</div>

{% endblock %} 
