<!DOCTYPE html>
{% extends "blog_app/base.html" %}

{% load staticfiles %}

{% block content %}

<div class="jumbotron">

    {% if registered %}
         <h1>Thank you for Signing Up</h1>
        Do you want to log in? <a href="{% url 'blog_app:user_login' %}">Login</a>

    {% else %}
        <h2>Register here!</h2>
        <form enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            {{ user_form.as_p}}
            {{ profile_form.as_p }}

            <input type="submit" class="btn btn-success" value="Register">
        </form>

    {% endif %}

</div>


{% endblock %}
